In [3]:
a = 2
b = 3

print(a == b)

print(id(a))
print(id(b))
print(a is b)

False
4354895248
4354895280
False

A list of strings lines, where each line is a transaction in this format:

YYYY-MM-DD,description,amount,category


amount is a number (can be positive or negative)

negative = expense

positive = income

category is a single word (no commas)

Example line:

2026-01-18,Uber,-240.50,transport

In [75]:

import json

def summarize_transactions(lines: list[str]) -> dict:
    output = {  'balance':0,
                'income_total':0,
                'expense_total':0,
                'category_totals':{},
                'top_expense':None
                }
    income_total = 0
    expense_total = 0
    top_expense = 0
    for line in lines:
        tokens = line.split(',')
        amount = round(float(tokens[2].strip()),2)
        date = tokens[0].strip()
        desc = tokens[1].strip()

        category = tokens[3].strip()

        try:
            output['category_totals'][category] += abs(amount)
        except KeyError:
            output['category_totals'][category] = abs(amount)

        if amount > 0:
            income_total += amount
        else:
            expense_total += amount
            if abs(amount) > abs(top_expense):
                 output['top_expense'] = (date,desc,amount,category)
                 top_expense = amount

        

    output['income_total'] = f"{income_total:.2f}"
    output['expense_total'] = f"{abs(expense_total):.2f}"
    output['balance'] = f"{income_total + expense_total:.2f}"
   
    return output

In [76]:
lines = [
  "2026-01-18,Uber,-240.50,transport",
  "2026-01-18,Salary,5000,income",
  "2026-01-19,Coffee,-120,food",
]

output = summarize_transactions(lines)
print(output)
# print(json.dumps(output,indent=4))

{'balance': '4639.50', 'income_total': '5000.00', 'expense_total': '360.50', 'category_totals': {'transport': 240.5, 'income': 5000.0, 'food': 120.0}, 'top_expense': ('2026-01-18', 'Uber', -240.5, 'transport')}

In [66]:
# Test 2

lines = [
  "2026-01-01,Gift,1000,income",
  "2026-01-02,Refund,250,income",
]
output = summarize_transactions(lines)
print(output)

{'balance': 1250.0, 'income_total': 1250.0, 'expense_total': 0, 'category_totals': {'income': 1250.0}, 'top_expense': None}

In [67]:
#test 3

lines = [
  "2026-01-10,  Groceries  , -999.9 ,food",
  "2026-01-10,Bonus, 2000.00 ,income",
]
output = summarize_transactions(lines)
print(output)

{'balance': 1000.1, 'income_total': 2000.0, 'expense_total': 999.9, 'category_totals': {'food': 999.9, 'income': 2000.0}, 'top_expense': ('2026-01-10', 'Groceries', -999.9, 'food')}

In [68]:
# test 4

lines = [
  "2026-01-05,Flight,-5000,travel",
  "2026-01-06,Hotel,-5000,travel",
]

output = summarize_transactions(lines)
print(output)

{'balance': -10000.0, 'income_total': 0, 'expense_total': 10000.0, 'category_totals': {'travel': 10000.0}, 'top_expense': ('2026-01-05', 'Flight', -5000.0, 'travel')}