In [3]:
a = 2
b = 3

print(a == b)

print(id(a))
print(id(b))
print(a is b)

False
4354895248
4354895280
False

A list of strings lines, where each line is a transaction in this format:

YYYY-MM-DD,description,amount,category


amount is a number (can be positive or negative)

negative = expense

positive = income

category is a single word (no commas)

Example line:

2026-01-18,Uber,-240.50,transport

In [33]:

import json

def summarize_transactions(lines: list[str]) -> dict:
    output = {  'balance':0,
                'income_total':0,
                'expense_total':0,
                'category_totals':{'transport':0,'income':0,'food':0},
                'top_expense':None
                }
    income_total = 0
    expense_total = 0

    for line in lines:
        tokens = line.split(',')
        amount = float(tokens[2])
        if amount > 0:
            income_total += amount
        else:
            expense_total += amount
        if tokens[3] == 'transport':
            output['category_totals']['transport'] += amount
        elif tokens[3] == 'food':
            output['category_totals']['food'] += amount
        elif tokens[3] == 'income':
            output['category_totals']['income'] += amount

    output['income_total'] = income_total
    output['expense_total'] = expense_total
    output['balance'] = income_total + expense_total
    return output

In [34]:
lines = [
  "2026-01-18,Uber,-240.50,transport",
  "2026-01-18,Salary,5000,income",
  "2026-01-19,Coffee,-120,food",
]

output = summarize_transactions(lines)
print(json.dumps(output,indent=4))

KeyError: 'transport'