### Strings

* sequence of chars

* In python : unicode characters

* Ops :

* Create
* Access
* Add chars
* Edit
* Delete
* Ops on strings
* String functions

### 1. Create

In [1]:
c = 'Hello'
print(c)

Hello

In [2]:
c = "It's raining outside"
print(c)

It's raining outside

In [3]:
c = '''Multiline string'''
print(c)

Multiline string

In [4]:
c = """Multiline string"""
print(c)

Multiline string

In [5]:
c = str('Hello')
c

'Hello'

### 2. Access

#### Accessing substrings from a string

In [15]:
# concept of indexing
c = 'Hello World'
print(c)

Hello World

In [16]:
print(c[0])

H

In [17]:
print(c[-1])

d

In [18]:
print(c[2:])

llo World

In [19]:
print(c[0:5])

Hello

In [20]:
print(c[:4])

Hell

In [21]:
print(c[2:6:2])

lo

In [22]:
print(c[0:8:3])

HlW

In [23]:
print(c[::-1])

dlroW olleH

### 3. Add chars

In [24]:
string1 = 'Hello'
string2 = 'World'

In [26]:
new_string = string1 + ' ' + string2
new_string

'Hello World'

In [27]:
another_string = string1 + ', how are you?'
another_string

'Hello, how are you?'

### 4. Edit & 5. Delete

In [28]:
c = 'Hello'
print(c)

Hello

In [29]:
c[0] = 'X'

TypeError: 'str' object does not support item assignment

String are a immutable data types

In [35]:
c = 'World'
print(c)

World

In [36]:
c[5] = 'X'

TypeError: 'str' object does not support item assignment

In [37]:
# deletion
c

'World'

In [38]:
del c

In [39]:
print(c)

NameError: name 'c' is not defined

In [40]:
c = 'hello'

In [41]:
print(c)

hello

In [42]:
del c[0]

TypeError: 'str' object doesn't support item deletion

### 6. Operations on string

* Arithmatic Concatenation (+) ,Repition (*)
* Relational : Equality (==) ,Inequivality (<>) , Comparison (<,>,<=,>=)
* Logical : and,or,not
* Loops : for loop,while loop
* Membership : in,not in

In [43]:
# Arithmatic
'Hello' + '-' + 'World'

'Hello-World'

In [44]:
print('*'*50)

**************************************************

In [45]:
print('Hello'*4)

HelloHelloHelloHello

In [46]:
'Hello' != 'World'

True

In [47]:
# Logical
'Hello' and 'World'

'World'

In [48]:
'' or 'World'

'World'

In [49]:
not 'Hello'

False

In [50]:
# Loops on strings
c = 'Hello World'
for i in c:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [52]:
for i in c[2:7]:
    print(i)

l
l
o

W

In [53]:
for i in c[2:7:2]:
    print(i)

l
o
W

In [54]:
for i in c[::-1]:
    print(i,end='')

dlroW olleH

In [55]:
# Membership
c

'Hello World'

In [56]:
'H' in c

True

In [57]:
'h' in c

False

In [58]:
'World' not in c

False

### 7. String Functions

#### 1. Common functions

* len()
* max()
* min()
* sorted()

In [59]:
c = 'mumbai'
len(c)

6

In [60]:
max(c)

'u'

In [61]:
min(c)

'a'

In [62]:
sorted(c)

['a', 'b', 'i', 'm', 'm', 'u']

In [63]:
sorted(c,reverse=True)

['u', 'm', 'm', 'i', 'b', 'a']

#### 2. Captitalize/title/Upper/Lower/Swapcase

In [64]:
c
c.capitalize()

'Mumbai'

In [65]:
c

'mumbai'

In [66]:
'it is raining today'.capitalize()

'It is raining today'

In [67]:
c.upper().lower()

'mumbai'

In [68]:
'MuMbAi'.swapcase()

'mUmBaI'

#### 3. Count

In [69]:
'It is raining'.count('i')

3

In [70]:
'It is raining'.count('ing')

1

In [71]:
'It is raining'.count('X')

0

#### 4. Find/index

In [72]:
'It is raining'.find('i')

3

In [73]:
'It is raining'.find('g')

12

In [74]:
'It is raining'.find('raining')

6

In [75]:
'It is raining'.find('x')

-1

In [76]:
'It is raining'.index('raining')

6

### 5. endswith/startswith

In [77]:
'It is raining'.endswith('ing')

True

In [78]:
'It is raining'.endswith('ingf')

False

In [79]:
'it is raining'.startswith('it')

True

#### 6. Format

In [80]:
'Hello, my name is {} and I am {}'.format('Girish',30)

'Hello, my name is Girish and I am 30'

In [81]:
'Hello my name is {1} and I am {0}'.format('Girish',30)

'Hello my name is 30 and I am Girish'

In [82]:
'Hello my name is {name} and I am {age}'.format(name='Girish',age=30)

'Hello my name is Girish and I am 30'

#### 7. isalnum/isalpha/isdecimal/isdigit/isidentifier

In [83]:
'Flat20'.isalnum()

True

In [84]:
'Flat20&'.isalpha()

False

In [85]:
'20'.isdigit()

True

In [86]:
'20A'.isdigit()

False