#### Lambda Functions

Anonymous functions

- Single expression limit

- Syntax : lambda args:expr

- Example landa a,b:a+b

In [1]:
x = lambda x:x**2

x(9)

81

In [2]:
a = lambda x,y:x + y

a(2,3)

5

In [3]:
type(a)

function

#### Lambda Function vs Normal Function

#### Lambda Function

* No return value
* Written in single line
* Not used for code reusability
* Anonymous/No name

#### Normal function

* Has a return value
* Multi line
* Encouraged code reusability via named functions

In [4]:
# why

# Lambda functions are anonymous functions --> lambda args:expr
# ideal for Higher order functions,offers concise function writing without naming.

In [5]:
# Higher order Functions

# Functions that take/return other functions
# Useful for abstraction,Code reuse

# Enhances code modularity,readability
# Encourages functional programming

# Can lead to coomplexity and Performance overhead(if reused).

In [6]:
b = lambda x:x[0] == 'a'
b('apple')

True

In [7]:
b('banana')

False

In [8]:
b = lambda x:'Even' if x%2 == 0 else 'Odd'
b(3)

'Odd'

In [9]:
b(2)

'Even'

#### Higher Order Function (HOF)

In [10]:
L = [11,14,27,21,23,56,78,39,45,29,28,30]

# Even Sum
# Odd Sum
# Div3 Sum

def return_sum(L):
    even_sum = 0
    odd_sum = 0
    div3_sum = 0
    for i in L:
        if i%2 == 0:
            even_sum = even_sum + i
    for i in L:
        if i%2 != 0:
            odd_sum = odd_sum + i
    for i in L:
        if i%3 == 0:
            div3_sum = div3_sum + i
    return(even_sum,odd_sum,div3_sum)

print(return_sum(L))

(206, 195, 240)

In [11]:
L = [11,14,27,21,23,56,78,39,45,29,28,30]
def return_sum(func,L):
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result

x = lambda x:x%2 == 0 # Even Sum
y = lambda x:x%2 != 0 # Odd Sum
z = lambda x:x%3 == 0 # Div3 Sum

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

206
195
240

Higher order functions (HOF) accepts input + define operations of function

#### Higher Order Functions

1. Map
2. Filter
3. Reduce

#### 1. Map

Applies a function to each item in iterable

Syntax:

map(function,iterable)

Returns an iterator of results

In [12]:
L = [1,2,3,4,5,6,7]
L

[1, 2, 3, 4, 5, 6, 7]

In [13]:
map(lambda x:x*2,L)

In [14]:
list(map(lambda x:x * 2,L))

[2, 4, 6, 8, 10, 12, 14]

In [15]:
list(map(lambda x:x % 2 == 0,L))

[False, True, False, True, False, True, False]

In [16]:
students = [
    {
        'name':'Jacob Martin',
        'Father name':'Ros Martin',
        'Address':'123 Hills Street',
    },{
        'name':'Angela Stevens',
        'Father name':'Robert Stevens',
        'Address':'3 Upper street London',
    },{
        'name':'Ricky Smartn',
        'Father name':'William Smart',
        'Address':'Unknown',
    }
]

list(map(lambda student: student['name'],students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smartn']

#### 2. Filter

Applies a function to sequence.

Syntax :
filter(function,sequence)
Returns elements where function is True.

In [17]:
L

[1, 2, 3, 4, 5, 6, 7]

In [18]:
list(filter(lambda x:x>4,L))

[5, 6, 7]

In [19]:
fruits = ['Apple','Orange','Mango','Guava']
list(filter(lambda fruit:'e' in fruit,fruits))

['Apple', 'Orange']

#### 3. Reduce

Reduces an iterable to a single value

syntax:

from functools import reduce
reduce(function,iterable)

- Operates on pairs of elements until a single value remains

- Useful for culumative Operations(e.g sum,product)

In [20]:
import functools

In [21]:
L

[1, 2, 3, 4, 5, 6, 7]

In [23]:
functools.reduce(lambda x,y:x+y,L)

28

In [24]:
L1 = [12,34,56,11,21,58]
L1

[12, 34, 56, 11, 21, 58]

In [26]:
functools.reduce(lambda x,y:x if x>y else y,L1)

58

In [29]:
functools.reduce(lambda x,y : x if x<y else y,L1)

11