#### Sets

* Unordered collection of unique elements
* Set is mutable,elements are immutable
* Operations : Unions,intersections,symmetric differences etc

#### Characteristics

1. Unordered
2. Mutable
3. Unique elements
4. No mutable data types

#### Important rules about sets

1. No duplicates
2. No indexing/slicing
3. No mutable elements
4. Set is mutable

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

#### 1. Create

In [1]:
# empty
S1 = {}
S1

{}

In [2]:
type(S1)

dict

In [3]:
S1 = set()
type(S1)

set

In [4]:
# 1D and 2D sets
S1 = {1,2,3,4,5}
S1

{1, 2, 3, 4, 5}

In [5]:
# homo and hetro
S2 = {'hello',4.5,True}
S2

{4.5, True, 'hello'}

In [6]:
# Type conversion
S4 = set([1,2,3])
S4

{1, 2, 3}

In [7]:
# duplicates not allowed
S3 = {1,1,2,2,3,3}
S3

{1, 2, 3}

In [8]:
S4 = {[1,2,3],'Hello'}
S4

TypeError: unhashable type: 'list'

In [9]:
S4 = {(1,2,3),'Hello'}
S4

{(1, 2, 3), 'Hello'}

In [10]:
# set cant have mutable items
S6 = {1,2,[3,4]}
S6

TypeError: unhashable type: 'list'

In [11]:
# sets have no indexing
# no hashing

In [12]:
S5 = {{1},{2}}

TypeError: unhashable type: 'set'

In [13]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

#### 2. Access

In [14]:
S1

{1, 2, 3, 4, 5}

In [15]:
S1[0]

TypeError: 'set' object is not subscriptable

In [16]:
S1[0:3]

TypeError: 'set' object is not subscriptable

#### 3. Edit

In [17]:
S1[2] = 100

TypeError: 'set' object does not support item assignment

In [18]:
S1

{1, 2, 3, 4, 5}

In [19]:
id(S1)

4372609312

In [22]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [24]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [37]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [38]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [27]:
id(S1)

4373253920

In [39]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [29]:
id(S1)

4373253920

In [40]:
S1.update([5,6,7])
S1

{2, 3, 4, 5, 6, 7, 100}

#### 5. Delete

* del()
* remove()
* pop()
* discard()
* clear()

In [31]:
S2

{4.5, True, 'hello'}

In [32]:
del S2
S2

NameError: name 'S2' is not defined

In [33]:
del S1[0]

TypeError: 'set' object doesn't support item deletion

In [34]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [41]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [42]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [43]:
S1.pop()
S1

{4, 5, 6, 7}

In [44]:
S1.discard(7)
S1

{4, 5, 6}

In [45]:
S1.clear()
S1

set()

#### 6. Operations

In [46]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}

In [47]:
S1 + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
S1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [49]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [50]:
# membership test
1 in S1

True

In [51]:
1 not in S1

False

In [52]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

In [53]:
# union (|)
S1|S2

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
# Intersection (&)
S1 & S2

{4, 5}

In [59]:
# Difference (-)
S1 - S2

{1, 2, 3}

In [57]:
# Symmetric difference (^)
S1 ^ S2

{1, 2, 3, 6, 7, 8}

#### 7. Functions

* len()
* min()
* max()
* sorted()

In [60]:
len(S1)

5

In [61]:
min(S1)

1

In [62]:
max(S1)

5

In [63]:
sorted(S1)

[1, 2, 3, 4, 5]

In [64]:
sorted(S1,reverse=True)

[5, 4, 3, 2, 1]

In [65]:
S1

{1, 2, 3, 4, 5}

In [66]:
S2

{4, 5, 6, 7, 8}

In [67]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
S1.intersection(S2)

{4, 5}

In [69]:
S1.difference(S2)

{1, 2, 3}

In [70]:
S2.difference(S1)

{6, 7, 8}

In [71]:
S1.symmetric_difference(S2)

{1, 2, 3, 6, 7, 8}

In [72]:
S1.isdisjoint(S2)

False

In [73]:
S1.issubset(S2)

False

In [74]:
S1.issuperset(S2)

False

In [75]:
S1.clear()
S1

set()

In [76]:
# copy
s1 = {1,2,3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

#### Frozen set

* Immutable set
* created via frozenset()
* No modifications post creation
* Ideal for hashable items : string,numbers

In [77]:
# Create frozen set
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [79]:
# what works and what does not
# works : all read functions
# does not : write operations

In [81]:
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

#### Set comprehension

In [83]:
# examples
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}