#### Builtin functions

* print
* input
* type
* int,str,bool,list,set,tuple,dict
* abs
* pow
* min/max
* round
* divmod
* bin/oct/hex
* id
* ord
* len
* sum
* help

In [1]:
print('Hello world')

Hello world

In [2]:
input('Enter your name')

'Girish'

In [3]:
a = 3
type(a)

int

In [4]:
a = 3.5
type(a)

float

In [5]:
a = True
type(a)

bool

In [6]:
int(5)
# float
# str
# list
# tuple

5

In [8]:
abs(-4)

4

In [9]:
pow(2,3)

8

In [10]:
min([2,1,3,0])

0

In [11]:
max([2,1,3,0])

3

In [12]:
min('mumbai')

'a'

In [13]:
max('mumbai')

'u'

In [14]:
c = 22/7
print(c)
round(c)

3.142857142857143

3

In [15]:
round(c,2)

3.14

In [16]:
divmod(5,2)

(2, 1)

In [17]:
bin(4)

'0b100'

In [18]:
oct(4)

'0o4'

In [19]:
hex(4)

'0x4'

In [20]:
a = 3
id(a)

4357631408

In [21]:
ord('a')

97

In [22]:
ord('A')

65

In [23]:
len('mumbai')

6

In [24]:
len([1,2,3])

3

In [25]:
sum([1,2,3,4,5,6])

21

In [27]:
sum({1,2,3,4,5,6})

21

In [28]:
help('print')

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [29]:
help('sum')

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.