#### Tuples : Ordered collection of immutable items

#### Characteristics :

* Ordered elements
* Cannot be modified post creation
* Allows duplicates

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

#### create

In [2]:
T1 = ()
T1

()

In [3]:
# T2 : Homogenous
T2 = (1,2,3,4,5)
T2

(1, 2, 3, 4, 5)

In [4]:
# T3 Heterogenous
T3 = ('Hello',4,5,6)
T3

('Hello', 4, 5, 6)

In [5]:
# T4 Nested tuple
T4 = (1,2,3,(4,5))
T4

(1, 2, 3, (4, 5))

In [6]:
T5 = (1)
T5

1

In [7]:
type(T5)

int

In [8]:
# Type conversion
T5 = 'Hello'
type(T5)

str

In [9]:
#Single item Tuple creation
T5 = ('Hello',)
type(T5)

tuple

In [10]:
T6 = tuple('Goa')
T6

('G', 'o', 'a')

In [11]:
T6 = tuple([1,2,3,4])
T6

(1, 2, 3, 4)

#### 2. Access

* Indexing
* Slicing

In [12]:
T2

(1, 2, 3, 4, 5)

In [13]:
T2[0]

1

In [14]:
T4

(1, 2, 3, (4, 5))

In [15]:
T4[-1][0]

4

#### 3. Edit

In [18]:
L = (1,2,3,4,5)

In [19]:
L[0] = 100

TypeError: 'tuple' object does not support item assignment

In [20]:
# Tuples are immutable just like strings

#### 4. Add

In [21]:
# Not possible
# Tuples are immutable

#### 5. Delete

In [22]:
T1

()

In [23]:
del T1

In [24]:
T1

NameError: name 'T1' is not defined

In [25]:
T3

('Hello', 4, 5, 6)

In [26]:
T2

(1, 2, 3, 4, 5)

In [27]:
del T2[-1]

TypeError: 'tuple' object doesn't support item deletion

In [28]:
# Tuples are immutable

#### 6. Operations

In [29]:
T2

(1, 2, 3, 4, 5)

In [30]:
T3

('Hello', 4, 5, 6)

In [31]:
T2 + T3

(1, 2, 3, 4, 5, 'Hello', 4, 5, 6)

In [32]:
T2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [33]:
for i in T2:
    print(i)

1
2
3
4
5

In [34]:
# in membership
1 in T2

True

#### 7. Functions

In [35]:
len(T2)

5

In [36]:
min(T2)

1

In [37]:
max(T2)

5

In [38]:
sum(T2)

15

In [39]:
sorted(T2)

[1, 2, 3, 4, 5]

In [40]:
sorted(T2,reverse=True)

[5, 4, 3, 2, 1]

In [42]:
t = (1,2,3,4,5)
t.count(5)

1

In [43]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

#### List vs Tuples

- Syntax

    * List : []
    * Tuples : ()

- Mutability

    * List : Mutable
    * Tuples : Immutable

- Speed

    * List : Slower(Mutable)
    * Tuple : Faster(Immutable)

- Memory

    * List : Higher
    * Tuple : Lower

- Functionality

    * Both : indexing & slicing
    * List : has more methods

- Error prone

    * List : Modifiable
    * Tuples : Safer

- Use case

    * List : static
    * Tuples : dynamic

In [44]:
import time
L = list(range(100000000))
T = tuple(range(100000000))

# List timing
start = time.time()
for i in L:
    i*5
print('List time is',time.time() - start)

# Tuple timing
start = time.time()
for i in T:
    i*5
print('Tuple time is',time.time() - start)

List time is 4.505970001220703
Tuple time is 4.280973672866821

In [45]:
import sys
L = list(range(1000))
T = tuple(range(1000))

print('List size ',sys.getsizeof(L))
print('Tuple size ',sys.getsizeof(T))

List size  8056
Tuple size  8040

In [46]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [48]:
a = (1,2,3)
b = a

a += (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

#### Q Why use tuples

* Immutable
* Prevents changes
* ensures data integrity
* Used for fixed collections
* example : 

college_database = ('physics','maths','cs')

* used for static data as lists are mutable

#### Special syntax

In [50]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [51]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [52]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [53]:
a,b,*others = (1,2,3,4)
print(a,b,others)

1 2 [3, 4]

In [55]:
#zipping values
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))