#### For Loop

In [2]:
#range function
range(1,11)

range(1, 11)

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [6]:
list(range(1,11,3))

[1, 4, 7, 10]

In [7]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
#List
['kolkata','delhi','mumbai']

['kolkata', 'delhi', 'mumbai']

In [9]:
# tuple
('kolkata','delhi','mumbai')

('kolkata', 'delhi', 'mumbai')

In [10]:
# set
{'kolkata','delhi','mumbai'}

{'delhi', 'kolkata', 'mumbai'}

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in 'kolkata':
    print(i)

k
o
l
k
a
t
a

In [15]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [16]:
# population growth calculation

# Initial population : 10000
# Growth rate : 10% anually
# Duration 10 years

curr_pop = 10000
for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop = curr_pop / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [18]:
# 2. Sequence sum
# Formula : 1/1! + 2/2! + 3/3! + ...

n = int(input('Enter number: '))
sum = 0
fact = 1
for i in range(1,n+1):
    fact *= i
    sum += i/fact
print(sum)

2.0

#### For loop : Known iterations

for item in iterable:
    #code block

iterable : list,tuple,set,string

#### While loop : unknown Iterations

while condition:
    # code block
condition : boolean expression

Key difference is For Loop iterates a fixed number of times
While loop operates until condition is False

For loop usage : Known iterations/sequence traversals
While loop usage : Uncertain iterations/condition based