#### List

* Ordere collection of mutable objects

#### List vs Array

* Array : homogenous,Contigous memory,Fast,numerical scientific use
* List : Heterogenous,non contiguous memory,programmer friendly,general purpose

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

#### Arrays vs List in memory

* Arrays :

    * int arr[50] : 50 contiguous memory blocks
    * elements stored in binary form at consecutive address

* Lists :

    * list_example = [1,2,3] --> elements at different locations
    * stores references/pointers and not the valuues

In [1]:
# proof
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

4368199872
4333546864
4333546896
4333546928
4333546864
4333546896
4333546928

#### List characteristics

* Ordered
* Mutable
* Heterogenous
* Duplicates allowed
* Dynamic size
* Nesting supported
* Indexible
* Any object type

#### 1. Create

In [2]:
#Empty
L = []
L

[]

In [11]:
#1D Homegenous
L1 = [1,2,3,4,5]
L1

[1, 2, 3, 4, 5]

In [44]:
# 1D Heterogenous
L2 = ['Hello',4,5,6,True,5+6j]
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [6]:
#Multidimensional list
L3 = [1,2,3,[4,5]]
L3

[1, 2, 3, [4, 5]]

In [26]:
# 3 Dimensional
L4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [8]:
# using type conversion
L5 = list('Girish')
L5

['G', 'i', 'r', 'i', 's', 'h']

In [9]:
L6 = list()
L6

[]

#### 2. Access

In [12]:
L1

[1, 2, 3, 4, 5]

In [13]:
L1[0]

1

In [14]:
L1[-1]

5

In [15]:
#slicing
L1[1:3]

[2, 3]

In [16]:
L1[::-1]

[5, 4, 3, 2, 1]

In [17]:
L3

[1, 2, 3, [4, 5]]

In [18]:
L3[0]

1

In [19]:
L3[-1]

[4, 5]

In [20]:
x = L3[-1]
x

[4, 5]

In [21]:
x[0]

4

In [22]:
L3[-1][0]

4

In [23]:
L3[-1][-1]

5

In [27]:
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [28]:
L4[-1][-1][0]

7

In [29]:
L4[0][1][1]

4

#### 3. Edit

In [30]:
L1

[1, 2, 3, 4, 5]

In [32]:
# Editing with indexing
L1[0] = 100
L1

[100, 2, 3, 4, 5]

In [33]:
L1[-1] = 500
L1

[100, 2, 3, 4, 500]

In [34]:
#Editing with slicing
L1[1:4] = [200,300,400]
L1

[100, 200, 300, 400, 500]

#### 4. Add

* append()
* extend()
* insert()

In [35]:
L1

[100, 200, 300, 400, 500]

In [36]:
L1.append(1000)
L1

[100, 200, 300, 400, 500, 1000]

In [38]:
L1.append('hello')
L1

[100, 200, 300, 400, 500, 1000, 'hello']

In [39]:
L1.extend([5000,6000,7000])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000]

In [40]:
L1.append([5,6])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6]]

In [41]:
L1.extend('Goa')
L1

[100,
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'G',
 'o',
 'a']

In [42]:
L1.insert(1,'world')
L1

[100,
 'world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'G',
 'o',
 'a']

#### 5. Delete

* del()
* remove()
* pop()
* clear()

In [45]:
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [46]:
del L2
L2

NameError: name 'L2' is not defined

In [47]:
del L1[0]
L1

['world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'G',
 'o',
 'a']

In [48]:
del L1[-4]
L1

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, 'G', 'o', 'a']

In [50]:
del L1[-3:]
L1

['world', 200, 300, 400, 500, 1000, 'hello']

In [51]:
L1.remove('hello')
L1

['world', 200, 300, 400, 500, 1000]

In [52]:
L1.pop()
L1

['world', 200, 300, 400, 500]

In [53]:
L1.pop()
L1

['world', 200, 300, 400]

In [54]:
L1.clear()
L1

[]

#### 6. Operations

* Arithmatic
* Membership
* Loop

In [58]:
L = [1,2,3,4]
L1 = [5,6,7,8]

In [59]:
# concatenate strings
L + L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
L

[1, 2, 3, 4]

In [61]:
L1

[5, 6, 7, 8]

In [62]:
L * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [63]:
# for loop
for i in L:
    print(i)

1
2
3
4

In [64]:
L3

[1, 2, 3, [4, 5]]

In [65]:
for i in L3:
    print(i)

1
2
3
[4, 5]

In [66]:
4 in L3

False

In [67]:
[4,5] in L3

True

#### 7 Functions

* len()
* min()
* max()
* sorted()

In [68]:
L

[1, 2, 3, 4]

In [69]:
len(L)

4

In [70]:
min(L)

1

In [71]:
max(L)

4

In [72]:
sorted(L)

[1, 2, 3, 4]

In [73]:
sorted(L,reverse=True)

[4, 3, 2, 1]

In [74]:
L

[1, 2, 3, 4]

In [75]:
L.sort(reverse=True)

In [76]:
L

[4, 3, 2, 1]

In [81]:
L.sort()
L

[1, 1, 1, 2, 3, 4, 5]

In [82]:
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [83]:
L

[1, 2, 1, 3, 4, 1, 5]

In [84]:
# index
L.index(3)

3

In [85]:
# reverse
L = [2,1,5,7,0]
# permanantly reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [86]:
# sort vs sorted
L = [2,1,5,7,0]
print(L)
print(sorted(L)) # new sorted list
print(L) # original list unchanged
L.sort()
print(L) # original list(sorted)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [87]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
4460748480
[2, 1, 5, 7, 0]
4461863424

In [88]:
'hello how are you'.title()

'Hello How Are You'

In [90]:
#Title case string without title
sample = 'how are you'
sample.split()
L = []
for i in sample.split():
    L.append(i.capitalize())
print(L)
print(' '.join(L))

['How', 'Are', 'You']
How Are You

In [92]:
sample = 'girish@gmail.com'
print(sample[:sample.find('@')])

girish

In [94]:
L1 = [1,1,2,2,3,3,4,4]
# output : L2 = [1,2,3,4]

L = []
for i in L1:
    if i not in L:
        L.append(i)
print(L)

[1, 2, 3, 4]

#### List Comprehension

Compact list creation

* newlist = [expression for item in iterable if condition == True]

example

* squares = [x**2 for i in [1,2,3,4]]

* Advantages

1. Efficient : Time & space
2. Concise : Fewer lines
3. Formulaic : Iteration --> expression

In [95]:
L = [1,2,3,4,5,6,7]
L

[1, 2, 3, 4, 5, 6, 7]

In [97]:
L1 = [item *2 for item in L]
L1

[2, 4, 6, 8, 10, 12, 14]

In [98]:
L2 = [i**2 for i in range(1,10)]
L2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
L3 = [i**2 for i in range(10) if i%2 != 0]
L3

[1, 9, 25, 49, 81]

In [100]:
fruits = ['Apple','Orange','Mango','Guava']
fruits

['Apple', 'Orange', 'Mango', 'Guava']

In [101]:
L4 = [fruit for fruit in fruits if fruit[0] == 'O']
L4

['Orange']

In [102]:
# Add 1 to 10 in the list
L = []
for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
L = [i for i in range(1,11)]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
# scalar multiplication
v = [2,3,4] # vector
s = -3
# [-6,-9,-12]
[s*i for i in v]

[-6, -9, -12]

In [105]:
# Add squares
L = [1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [106]:
# Print nums divisble by 5 from 1 to 50
[i for i in range(1,51) if i % 5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [109]:
# language starting with 'p'
languages = ['java','python','php','c','javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [110]:
#nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add fruits from my_fruits that are in basket and start with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [111]:
# 3x3 matrix with nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [112]:
#cartesion products --> list comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

#### List Traversal

* itemwise
* indexwise