#### Dictionary : An unordered collection of key-value pairs

* key value pairs : data mapping
* Aliases : map,associative array

* dict = {'name':'Girish Mohite','age':30,'sex':'Male'}

#### Traits :

* Mutable
* No indexing
* unique keys
* Immutable keys

In [1]:
{'Name':'Girish Mohite','Gender':'Male'}

{'Name': 'Girish Mohite', 'Gender': 'Male'}

#### 4 Key rules about Dictionary

1. No indexing support
2. Mutable : Can modify post creation
3. Keys : Immutable (str,tuple),Values : Any type
4. Unique keys : keys must be unique ,overrite on re assignment

In [2]:
# Mutable Types : Lists,Dicts,Sets

# Immutable Types : Tuples,str,int,float,bool,complex

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

#### 1. Create

In [4]:
# empty Dictionary
D = {}
D

{}

In [5]:
#1D Dictionary
D = {'name':'Girish Mohite','Gender':'Male'}
D

{'name': 'Girish Mohite', 'Gender': 'Male'}

In [6]:
D1 = {[1,2,3]:'Girish'}

TypeError: unhashable type: 'list'

In [7]:
# with mixed keys
D1 = {(1,2,3):'Girish'}
D1

{(1, 2, 3): 'Girish'}

In [8]:
# Duplicate keys
D2 = {'Name':'Girish','Name':'Duplicate'}
D2

{'Name': 'Duplicate'}

In [9]:
D3 = {'Name':'Girish','College':'KJSCE','Marks':{'M1':92,'DS':95,'Eng':90}}

In [10]:
#2D Dictionary --> JSON

s = {
    'name':'Girish Mohite',
    'college':'KJSCE',
    'sem':4,
    'subjects':{
        'dsa':90,
        'maths':98,
        'english':75
    }
}
s

{'name': 'Girish Mohite',
 'college': 'KJSCE',
 'sem': 4,
 'subjects': {'dsa': 90, 'maths': 98, 'english': 75}}

In [11]:
#mutable items as keys
D4 = {'name':'Girish Mohite',(1,2,3):2}
print(D4)

{'name': 'Girish Mohite', (1, 2, 3): 2}

In [12]:
# Using sequencing and dict function
D5 = dict([('name','Girish'),('age',32),(3,3)])
D5

{'name': 'Girish', 'age': 32, 3: 3}

#### 2. Access

In [13]:
D

{'name': 'Girish Mohite', 'Gender': 'Male'}

In [14]:
D[0]

KeyError: 0

In [16]:
D['name']

'Girish Mohite'

In [17]:
D.get('name')

'Girish Mohite'

In [18]:
D.get('Gender')

'Male'

In [19]:
D3

{'Name': 'Girish',
 'College': 'KJSCE',
 'Marks': {'M1': 92, 'DS': 95, 'Eng': 90}}

In [20]:
D3['Marks']['DS']

95

#### 3. Edit

In [21]:
D

{'name': 'Girish Mohite', 'Gender': 'Male'}

In [22]:
D['name'] = 'Karthik'
D

{'name': 'Karthik', 'Gender': 'Male'}

In [23]:
D3['Marks']['DS'] = 99
D3

{'Name': 'Girish',
 'College': 'KJSCE',
 'Marks': {'M1': 92, 'DS': 99, 'Eng': 90}}

#### 4. Add

In [24]:
D

{'name': 'Karthik', 'Gender': 'Male'}

In [26]:
D['Age'] = 22
D

{'name': 'Karthik', 'Gender': 'Male', 'Age': 22}

In [27]:
D3['Marks']['M2'] = 75
D3

{'Name': 'Girish',
 'College': 'KJSCE',
 'Marks': {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}}

#### 5. Delete

In [28]:
D5 = {}
D5

{}

In [29]:
del D5

In [30]:
D5

NameError: name 'D5' is not defined

In [31]:
D.pop('name')

'Karthik'

In [32]:
D.popitem()

('Age', 22)

In [33]:
D

{'Gender': 'Male'}

In [34]:
del D['Gender']
D

{}

In [35]:
D.clear()
D

{}

#### 6 . Operations

In [36]:
D3

{'Name': 'Girish',
 'College': 'KJSCE',
 'Marks': {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}}

In [37]:
D4

{'name': 'Girish Mohite', (1, 2, 3): 2}

In [38]:
D3 + D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [39]:
D3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [40]:
D3

{'Name': 'Girish',
 'College': 'KJSCE',
 'Marks': {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}}

In [41]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [42]:
for i in D3:
    print(i,D3[i])

Name Girish
College KJSCE
Marks {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}

In [43]:
# Membership
'Girish' in D3

False

In [44]:
'Name' in D3

True

In [45]:
for k,v in D3.items():
    print(k,v)

Name Girish
College KJSCE
Marks {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}

#### 7. Functions

In [46]:
len(D3)

3

In [47]:
min(D3)

'College'

In [48]:
max('D3')

'D'

In [49]:
sorted(D3)

['College', 'Marks', 'Name']

In [50]:
sorted(D3,reverse=True)

['Name', 'Marks', 'College']

In [51]:
D3.items()

dict_items([('Name', 'Girish'), ('College', 'KJSCE'), ('Marks', {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75})])

In [52]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [53]:
D3.values()

dict_values(['Girish', 'KJSCE', {'M1': 92, 'DS': 99, 'Eng': 90, 'M2': 75}])

In [54]:
# Update
d1 = {1:1,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 1, 3: 4, 4: 7, 6: 8}

#### Dictionary Comprehension

{key : value for var in iterable}
Creates dict from iterables

Example :
squares_dict = {x:x**2 for x in range(5)}

Maps numbers to squares

Supports conditions and expressions

In [55]:
D = {'Name':'Girish Mohite','Gender':'Male','Age':30}

In [56]:
D.items()

dict_items([('Name', 'Girish Mohite'), ('Gender', 'Male'), ('Age', 30)])

In [57]:
D1 = {key:value for key,value in D.items() if len(key)>3}
D1

{'Name': 'Girish Mohite', 'Gender': 'Male'}

In [58]:
L = [1,2,3,4,5,6,7]

In [59]:
D2 = {item:item**2 for item in L}

In [60]:
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [61]:
D2 = {item:item**2 for item in L if item%2 == 0}
D2

{2: 4, 4: 16, 6: 36}

In [62]:
# Print first 10 numbers and squares
print({item:item**2 for item in range(1,11)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [63]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [64]:
# using existing dict
{key:value*0.62 for key,value in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [65]:
# using zip
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp_c = [30,5,32.6,31,8,33.4,29.8,30.2,29.9]
{i:j for i,j in zip(days,temp_c)}

{'Sunday': 30,
 'Monday': 5,
 'Tuesday': 32.6,
 'Wednesday': 31,
 'Thursday': 8,
 'Friday': 33.4,
 'Saturday': 29.8}

In [72]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for key,value in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [76]:
#Nested comprehension
# print multiplication tables for 2 to 4
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [77]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}